# 依赖
node_modules/

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# 系统文件
.DS_Store
.DS_Store?
._*

# IDE 配置
.idea/
.vscode/

# 构建输出
dist/
build/
coverage/

# 运行时数据
pids/
*.pid
*.seed
*.pid.lock

# 其他
lib-cov/
.nyc_output/
.grunt/
bower_components/
.lock-wscript/
package-lock.json
